<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
{% load static %}
</head>
<body style="background-image:url('{% static "images/student1.jpg" %}')";>
    <form action="">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-dark " id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link text-white" href="edit_teacher" > Edit Profile<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="logout"> logout</a>
                </li>
              </ul>
            </div>
          </nav>  
        </div>
         
            <div class="card" style="width: 28rem;  margin-right:150px;">
               
                        <div class="card-body">
                            <img class="card-img-top" src="{{sh.image.url}}" alt="Card image cap">


                          <h5 class="card-title">DETAILS OF {{sh.user.first_name}}</h5>
                          <p class="card-text">ADDRESS : {{sh.address}}</p>
                          <p class="card-text">AGE : {{sh.age}}</p>
                          <p class="card-text">EMAIL-ID : {{sh.user.email}}</p>
                          <p class="card-text">MOBILE_NUMBER :{{sh.number}}</p>
                          <p class="card-text">USERNAME:{{sh.user.username}}</p>
                          <p class="card-text">COURSE:{{sh.course.course_name}}</p>
                          <a href="{% url 'teacher_login' %}">Go Back</a>
               
                        </div>
                      </div>
                </div>
              </div>
    
</form>
</body>
</html>